@using Application.ViewModels.Pokemon
@model SavePokemonViewModel
@{
    ViewData["Title"] = "Eliminar Pokemon";
}

<div class="row">
    <div class="col-6 offset-3">
        <div class="card">
            <div class="card-header fondoHeaderCard text-dark">
                <h4>¿Está seguro que desea eliminar el pokemon: @Model.Name?</h4>
            </div>
            <div class="card-body">
                <form method="post" asp-controller="Pokemon" asp-action="DeletePost">                 

                    <input type="hidden" asp-for="Id" />

                    <button type="submit" class="btn btn-danger">Eliminar</button>
                    <a asp-controller="Pokemon" asp-action="Index" class="btn btn-warning">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>